@media screen and (min-width:1200px) {
    .reimga {
        width: 80%;
        margin: 0 auto;
    }
}
@media screen and (min-width:1400px) {
    .reimga{
        width: 70%;
        margin: 0 auto;
    }

}
